<main class="main" [ngClass]="{'side-nav-close': !menuOpen}">
<header *ngIf="isLoggedIn" class="header">

<div class="panel-toggle-button" (click)="menuOpen = !menuOpen"><i class="material-icons">menu</i></div>

<div class="logo">EFManager</div>


<div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    
    <div ngbDropdown class="d-inline-block">
        <button class="profile-button" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">
            person
            </i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
<div class="dropdown-item">{{loggedInUser}}</div>
          <button class="dropdown-item" (click)="onLogoutclick()">Logout</button>
        </div>
      </div>
</div>
</header>

<div class="sidenav" *ngIf="isLoggedIn">

<ul class="main-nav">

  <li>
    <a matRipple [routerLink]="['/']" routerLinkActive="router-link-active" >Dashboard</a>
</li>
  <li><a matRipple [routerLink]="['/events']">Events</a></li>
  <li><a matRipple [routerLink]="['/facilities']" routerLinkActive="router-link-active" >Facilities</a></li>

</ul>

</div>

<div [ngClass]="{'main-content': isLoggedIn, 'login-wrap': !isLoggedIn}">
  
  <div class="flash-messages-container" *ngIf="isLoggedIn">
  <div class="container">
    <flash-messages></flash-messages>
  </div>
  </div>
  <router-outlet></router-outlet>
</div>

</main>